<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="AstrologyDoc_EN.AstrologyDoc_EN" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="19" />
	<application android:label="AstrologyDoc-EN.Android" android:icon="@drawable/icon"></application>
</manifest>